.feed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    position: absolute;
    scrollbar-width: 0;
    overflow-x: hidden;
    white-space: no-wrap;
    top: 75px; 
}


@media only screen and (min-width : 1px) and (max-width: 767px){
    body{
        font-size: 6px;
    }
  .feed{
      top: 200px;
      left: 0px;
  }
    
}
