.feed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: no-wrap;
    top: 75px;
    height: 90vh;

}


@media only screen and (min-width : 1px) and (max-width: 767px){
    body{
        font-size: 6px;
    }
  .feed{
      top: 135px;
      left: 0px;
  }
    
}
