.profile-body{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70vh;
    width: fit-content;
    padding: 25px;
    top: 80px;
    border: 3px solid grey;
    border-radius: 25px 25px 25px 25px;
    
}

#pro-pic{
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 35px;
}

.user-picture{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
   
}

.bio{
    margin-bottom: 90px;
}

.profile-info{
    margin-bottom: 50px;
}